---
layout: base.njk
permalink: /contact/
title: Contact VPNHUB
---
<main class="article-wrap"><article class="article"><h1>Contact</h1><p>Need help or want to request a tutorial?</p><form class="form" name="contact" method="POST" data-netlify="true"><input type="hidden" name="form-name" value="contact"><input class="input" name="name" placeholder="Your name"><input class="input" name="email" type="email" placeholder="Email address"><textarea class="textarea" name="message" placeholder="Message"></textarea><button class="btn" type="submit">Send Message</button></form></article></main>
